<div class="row justify-content-around">
    <div class="col-md-6" name="{{ site.data.education.name }}" id="{{ site.data.education.id }}">
      <h2>{{ site.data.education.label }}</h2>
      {% for item in site.data.education.schools %}
      <h4>{{ item.name }}</h4>
      <ul>
        <li>{{ item.degree }}</li>
        <li>{{ item.years }}</li>
        <li>GPA: {{item.gpa}}</li>
        {% if item.award %}
        <li>Awards: {{ item.award }}</li>
        {% endif %}
        {% if item.courses %}
        <li>
          Courses:
          <ul>
            {% for course in item.courses %}
            <li>{{ course }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
    <div class="col-md-6" name="languages" id="languages">
      <h2>Languages</h2>
      <ul>
        <li>JavaScript</li>
        <li>HTML & CSS</li>
        <li>Node.js</li>
      </ul>
      <h3>Skills</h3>
      <ul>
        <li>Tag Management</li>
        <li>Debugging</li>
        <li>Agile Software Development/Scrum</li>
        <li>Git</li>
      </ul>
      <h3>Software</h3>
      <ul>
        <li>Jira</li>
        <li>Bitbucket</li>
        <li>Confluence</li>
        <li>Adobe Analytics</li>
        <li>Celebrus</li>
        <li>Adobe Target</li>
        <li>DataDog</li>
        <li>Metabase</li>
        <li>LogRocket</li>
        <li>BrowserStack</li>
      </ul>
    </div>
  </div>