<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta
    name="description"
    content="Portfolio Site for Software Engineer {{ page.author }}"
    />
    <meta name="author" content="{{ page.author }}" />
    <link rel="icon" href="images/favicon.ico" />
    <title>{{ page.title }}</title>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3V2DWQJQR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-G3V2DWQJQR');
    </script>
    <!-- End Google Analytics -->
  </head>
  <body>
    {{ content }}
  </body>
</html>